.container , table {
    width:  90%;
    margin: 0 auto;
    text-align:  center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


table tr:nth-child(1) {
    /* margin-top: 5px; */
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    
}

table tr td {
    border:  solid black 1px;
    
}